/* Generics */
* {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

body {
    color: #33475B;
}

li {
    cursor: pointer;
}

/* Utilities */
.nav-menu ul {
    padding-left: 20px;
}

.fa-chevron-down {
    font-size: 12px;
}

.fa-search {
    color: #00A4BD;
}

.fa-bars {
    font-size: 28px;
}

img.logo {
    width: 100px;
    margin-bottom: 5px;
}

img.logo-mobile {
    width: 40px;
    cursor: pointer;
}

#jumbotron span {
    font-size: 26px;
    font-weight: 600;
}

.cs-btn-primary {
    background-color: #FF7A59;
    border-color: #FF7A59;
}

.cs-btn-primary:hover {
    background-color: #FF7A59;
    border-color: #FF7A59;
    filter: opacity(0.5);
}

.cs-btn-secondary {
    background-color: #fff;
    border-color: #FF7A59;
    color: #FF7A59;
}

.cs-btn-secondary:hover {
    background-color: #ff7a596c;
    border-color: #FF7A59;
}

p {
    font-size: 18px
}

h1 {
    font-size: 40px;
}

.quote {
    font-weight: 200;
}

/* Header */
header {
    background-color: #fff;
    box-sizing: content-box;
    box-shadow: -10px 5px 10px -5px lightgray;
}

.settings {
    font-size: 14px;
}

.hamburger-menu {
    height: 60px;
    font-size: 18px;
}

.hamburger-menu ul {
    margin-bottom: 0;
}

/* Jumbotron */
#jumbotron {
    padding-top: 50px;
    height: 1100px;
}

#jumbotron img.logo {
    margin-bottom: 20px;
    margin-right: 5px;
}

.jumbotron-logo {
    height: 550px;
}

/* Buisness plans */
#buisness-plans {
    background-color: #F5F8FA;
    padding-bottom: 100px;
}

#buisness-plans .cs-btn-primary,
#buisness-plans .cs-btn-secondary {
    width: 100%;
    margin-bottom: 20px;
}

.product .content {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px 40px;
    box-shadow: 0 0 11px lightgray;
}

.content p {
    margin-top: 20px;
    font-size: 14px;
}

.content p.features,
#marketing p {
    font-size: 18px;
}

.cs-symbol {
    font-size: 40px;
    font-weight: 200;
}

div.divider {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
}

.fa-check-circle {
    color: #FF7A59;
}

img.settings-icon {
    width: 32px;
}

/* Marketing */
#marketing {
    background-color: #00B5AC;
    padding-top: 50px;
    color: white;
}

#marketing img {
    margin-bottom: 10px;
    height: 40px;
}

#marketing p {
    margin-bottom: 0;
}

#marketing .community-board {
    margin: 30px 0;
}

#marketing .community-board p:first-of-type {
    font-size: 40px;
    font-weight: bold;
}

/* Media */
@media screen and (min-width: 575px) {
    #jumbotron {
        height: 600px;
        overflow-y: hidden;
    }
    #buisness-plans {
        padding-top: 0px;
    }
    #marketing .cs-border-style {
        border-right: 1px solid;
        border-bottom: 1px solid;
    }
    #marketing .cs-border-style:nth-child(2n) {
        border-right: 0;
    }
    #marketing .cs-border-style:nth-child(n+7) {
        border-bottom: 0;
    }
}


@media screen and (min-width: 768px) {
    #buisness-plans .cs-btn-primary,
    #buisness-plans .cs-btn-secondary {
        width: auto;
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 992px) {
    #jumbotron {
        padding-top: 99px;
    }
    #marketing .cs-border-style:nth-child(2n) {
        border-right: 1px solid;
    }
    #marketing .cs-border-style:nth-child(n+5) {
        border-bottom: 0;
    }
    #marketing .cs-border-style:nth-child(4n) {
        border-right: 0;
    }
}
