/* Generics */
* {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

body {
    color: #33475B;
}

li {
    cursor: pointer;
}

.nav-menu ul {
    padding-left: 20px;
}

.fa-chevron-down {
    font-size: 12px;
}

.fa-search {
    color: #00A4BD;
}

.fa-bars {
    font-size: 28px;
}

img.logo {
    height: 40px;
    margin-bottom: 5px;
}

img.logo-mobile {
    height: 40px;
}

.cs-btn-primary {
    background-color: #FF7A59;
    border-color: #FF7A59;
}

.cs-btn-primary:hover {
    background-color: #FF7A59;
    border-color: #FF7A59;
    filter: opacity(0.5);
}

/* Utilities */


/* Header */
header {
    background-color: #fff;
    box-sizing: content-box;
    box-shadow: -10px 5px 10px -5px lightgray;
}

.settings {
    font-size: 14px;
}

.hamburger-menu {
    height: 60px;
    font-size: 18px;
}

.hamburger-menu ul {
    margin-bottom: 0;
}

/* Main */
h1 {
    font-size: 40px;
}

.quote {
    font-weight: 200;
}

p {
    font-size: 18px
}

#jumbotron {
    padding-top: 50px;
}

.jumbotron-logo {
    width: 600px;
    min-height: 500px;
}

@media screen and (min-width: 680px) {
    .jumbotron-logo {
        width:600px;
        right: calc(0% - 18rem);
    }
}

@media screen and (min-width: 768px) {
    .jumbotron-logo {
        right: calc(0% - 11rem);
    }
}

@media screen and (min-width: 1024px) {
    .jumbotron-logo {
        right: 10px;
    }
}

@media screen and (min-width: 992px) {
    #jumbotron {
        padding-top: 100px;
    }
}

/* Footer */